.mtg {
  .mtg-article {
    .mtg-article-title {
      background: url(/img/card_details/icon_hp-bflower.png) 0 55% no-repeat;
      padding-left: 3rem;
      margin: 2rem 0 2.5rem;
      text-transform: uppercase;
    }

    .mtg-article-img {
      display: block;
      background-color: $black;
      border-radius: 1rem;
      padding: 1rem;
    }

    .mtg-btn-wishlist,
    .mtg-btn-restock {
      color: $black;

      &:hover {
        color: rgba($color: $black, $alpha: .7);
        background-color: rgba($color: $secondary-medieval-yellow, $alpha: .3);
        border-color: rgba($color: $secondary-medieval-yellow, $alpha: .3);
      }

      &:not(:disabled):not(.disabled):active {
        color: rgba($color: $black, $alpha: .5);
        background-color: rgba($color: $secondary-medieval-yellow, $alpha: .3);
        border-color: rgba($color: $secondary-medieval-yellow, $alpha: .3);
      }
      font-family: $body-font;
      font-weight: 700;
      text-transform: capitalize;
      border: none;
      border-radius: 0;
      border-bottom: 4px solid $secondary-medieval-yellow;
      padding-left: 1rem;
    }

    .mtg-btn-wishlist {
      background: url(/img/card_details/icon_card-heart.png) 0 55% / 1.5rem auto no-repeat;
    }

    .mtg-btn-restock {
      background: url(/img/card_details/icon_card-restock.png) 0 55% / 1.5rem auto no-repeat;
    }

    .mtg-btn-outline {
      color: $primary-celtic-green;
      font-weight: 700;
      border-width: 2px;

      &:hover {
        color: rgba($color: $white, $alpha: .7);
        background-color: rgba($color: $primary-celtic-green, $alpha: .5);
        border-color: rgba($color: $primary-celtic-green, $alpha: .5);
      }

      &:not(:disabled):not(.disabled):active {
        color: rgba($color: $white, $alpha: .3);
        background-color: rgba($color: $primary-celtic-green, $alpha: .7);
        border-color: rgba($color: $primary-celtic-green, $alpha: .7);
      }
    }

    .mtg-article-h3 {
      font-family: $body-font;
      font-size: 2rem;
    }

    .mtg-article-versions {
      .nav-item {
        text-align: center;
        width: 25%;
        margin-right: 1px;

        &:last-child {
          width: 24%;
          margin-right: 0px;
        }
      }
      .nav-tabs .nav-link {
        &:not(.active) {
          border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6;
        }
      }

      .tab-content {
        padding: 1rem;
        border: 1px solid #ccc;
        border-top: 0;
      }
    }

    .btn-add-cart {
      color: $secondary-medieval-yellow;

      font-weight: 700;

      background-color: $primary-celtic-green;
      border-color: $primary-celtic-green;

      &:hover {
        color: rgba($color: $white, $alpha: .7);
        background-color: rgba($color: $primary-celtic-green, $alpha: .5);
        border-color: rgba($color: $primary-celtic-green, $alpha: .5);
      }

      &:not(:disabled):not(.disabled):active {
        color: rgba($color: $white, $alpha: .3);
        background-color: rgba($color: $primary-celtic-green, $alpha: .7);
        border-color: rgba($color: $primary-celtic-green, $alpha: .7);
      }
    }
  }
}