.mtg {
  .search-form {
    .input-group {
      width: 40rem;
    }

    .form-control {
      border: none;

      &:focus {
        box-shadow: none;
      }
    }

    #search-icon {
      background-color: $white;
      border: none;
    }
  }
}