
$primary-celtic-green: #092c19;
$primary-celtic-gold: #cbbda4;
$secondary-celtic-brown: #3c2b16;

$secondary-medieval-red: #cb5344;
$secondary-medieval-pink: #a87067;
$secondary-medieval-blue: #1459a0;
$secondary-medieval-dust-blue: #aeddda;
$secondary-medieval-yellow: #f2b833;
$secondary-medieval-green: #07552e;

$black: #000;
$white: #fff;

$heading-font: classico-urw, source-sans-pro, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$body-font: source-sans-pro, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

